body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.action_btn{
  float: right;
}

.PartNumber{
  display: flex;
  flex-direction: row;
}


.scroll{
  height: 98%;
  overflow-y: scroll;
}

.fixed_header tbody{
  display:block;
  overflow:auto;
  height:98%;
  width:100%;
}
.fixed_header thead tr{
  display:block;
}